.container {
  /* margin-top: 5%; */
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vh;
  padding-bottom: 5vh;
  display: flex;
  width: 90vw;
  /* Full width of the viewport */
  height: 85vh;
  background-color: rgba(4, 97, 67, 1);
  flex-direction: column;
}

.title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.09px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  width: 100%;
}

.img {
  width: 100%;
  display: flex;
  justify-content: end;
}

.description {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.09px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

.contacts
{
  display: flex;
  gap: 70px;
  margin-top: 40px;
}

.button {
  width: 221px;
  height: 63px;
  top: 111px;
  left: 3984px;
  gap: 0px;
  border-radius: 16px;
  opacity: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(3, 68, 58, 1);
  border: none;

}